---
layout: master
title: Blog
full_posts: 5
---

{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date: "%d %b %Y"}}</span>
	
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
	<a class="jiathis_button_qzone"></a>
	<a class="jiathis_button_tsina"></a>
	<a class="jiathis_button_tqq"></a>
	<a class="jiathis_button_weixin"></a>
	<a class="jiathis_button_renren"></a>
	<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
	<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1370741275513298" charset="utf-8"></script>
<!-- JiaThis Button END -->

<a href='{{ site.baseurl }}{{post.url}}#comments' title='分享文章、查看评论' style="margin-left: 1em;">Comments</a>
    <h1><a href='{{ site.baseurl }}{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
  </div>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h3>更多博客</h3>
    <table class='post-list'>
    {% endif %}
    <tr>
      <th><a href='{{ site.baseurl }}{{ post.url }}'>{{ post.title }}</a></th>
      <td>{{ post.date | date: "%d %b %Y" }}</td>
      <td><a href='{{ site.baseurl }}{{post.url}}#disqus_thread'>Comments</a></td>
    </tr>
  {% endif %}
{% endfor %}
</table>
